{% extends "base.html" %}
 {% block head %}
 {{super()}}
 <link rel="shortcut icon" href="{{url_for('static', filename = 'sync.ico')}}" type="image/x-icon">
 <link rel="icon" href="{{url_for('static', filename = 'sync.ico')}}" type="image/x-icon">
 {% endblock %}

  {% block page_content%}
  <div>
   <h1> Hello,
    {% if name%}
    {{name}}
    {% else %}
    Stranger!
    {% endif%}
   </h1>
  </div>
   {{wtf.quick_form(form)}}
<p> Local time: {{moment(current_time).format('LLL')}}</p>
<p> it was: {{moment(current_time).fromNow(refresh=True)}}</p>
   {% endblock %}